@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use 'common/var' as *;


@include b(demo) {
  width: 400px;
  height: 70px;
  background-color: var(--el-color-primary);
  color: var(--el-color-white);
  border-radius: var(--el-border-radius-base);
  box-shadow: var(--el-box-shadow-light);
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 10px;
  &:hover {
    background-color: var(--el-color-primary-light-5);
    box-shadow: var(--el-box-shadow);
  }
}
